<div class="portfolio">
  <div class="trans-bg">
    <div class="row justify-content-end d-lg-none">
      <button class="col-2 close-modal" (click)="cancel()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
    </div>
    <div class="content p-3 mt-2">
      <h3 class="d-lg-none">Portfolio</h3>

      <div class="row mt-2">
        <div class="col-4 col-lg-3 p-2" *ngFor="let img of imgList">
          <img class="port-img" [src]="img" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
