.chatBox {
  background: white;
  height    : 100vh;
  overflow  : hidden;

  .back {
    width : 35px !important;
    margin: 7px 15px !important;
  }

  .chatUser-pic {
    width        : 50px;
    aspect-ratio : 1/1;
    border-radius: 50%;
  }

  .chat-header {
    background: white;
    position  : relative;
    z-index   : 10;
  }

  .chats {
    max-height     : 80%;
    overflow       : auto;
    padding        : 15px;
    position       : fixed;
    bottom         : 10%;
    scroll-behavior: smooth;

    img {
      width: 25px;
    }

    .text {
      max-width: 70%;

      p {
        padding                   : 10px;
        border-bottom-left-radius : 15px;
        border-bottom-right-radius: 15px;

        &.left {
          background             : #737373;
          border-top-right-radius: 15px;
          color                  : white;


        }

        &.right {
          background            : #cacaca;
          border-top-left-radius: 15px;
          color                 : #000;


        }
      }

      .time {
        opacity  : 0.5;
        font-size: 10px;
      }


    }
  }

  .chat-input {
    height    : 40px;
    padding   : 0 20px;
    position  : fixed;
    width     : 100%;
    bottom    : 15px;
    background: white;

    form {
      box-shadow     : 0 0 3px #cacaca;
      border-radius  : 20px;
      height         : 100%;
      display        : flex;
      justify-content: space-between;
      padding        : 10px;

      input[type='text'] {
        width     : 75%;
        height    : 100%;
        border    : none;
        outline   : none;
        font-size : 14px;
        background: transparent;

        &:focus {
          border : none;
          outline: none;
        }

        &::placeholder {
          color: #A09F9F;
        }
      }

      button[type='submit'] {
        background : transparent;
        border     : none;
        font-size  : 25px;
        color      : #737373;
        height     : 100%;
        display    : flex;
        align-items: center;
      }
    }
  }

}
