<div class="footer container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div style="width: 30%">
        <div class="avatar"></div>
      </div>
      <p class="mt-3 para">
        Aussie Tasker is a trusted community platform that connects people who
        need to outsource tasks and final local services.
      </p>
      <div class="d-flex">
        <button class="social-btn">
          <fa-icon [icon]="facebook"></fa-icon>
        </button>
        <button class="social-btn">
          <fa-icon [icon]="twitter"></fa-icon>
        </button>
        <button class="social-btn">
          <fa-icon [icon]="linkedIn"></fa-icon>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-between">
        <div class="footer-links">
          <p class="head-link">Resources</p>
          <ul>
            <li><a class="link">About us</a></li>
            <li><a class="link">Our Team</a></li>
            <li><a class="link">Products</a></li>
            <li><a class="link">Contacts</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <p class="head-link">Community</p>
          <ul>
            <li><a class="link">Feature</a></li>
            <li><a class="link">Pricing</a></li>
            <li><a class="link">Credit</a></li>
            <li><a class="link">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <p class="head-link">Quick links</p>
          <ul>
            <li><a class="link">iOS</a></li>
            <li><a class="link">Android</a></li>
            <li><a class="link">Microsoft</a></li>
            <li><a class="link">Desktop</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <p class="head-link">More</p>
          <ul>
            <li><a class="link">Privacy</a></li>
            <li><a class="link">Help</a></li>
            <li><a class="link">Terms</a></li>
            <li><a class="link">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <p class="head-link">Download App</p>
      <p class="para">
        Download our Apps and get extra 15% Discount on your first Order...!
      </p>
      <div class="d-flex">
        <ion-button class="download">
          <ion-icon slot="start" name="logo-apple"></ion-icon>
          <div class="d-flex flex-column">
            <p class="sm">Download on the</p>
            <p class="download-txt">App Store</p>
          </div>
        </ion-button>
        <ion-button class="download">
          <ion-icon slot="start" name="logo-google-playstore"></ion-icon>
          <div class="d-flex flex-column">
            <p class="sm">Get it on</p>
            <p class="download-txt">Play Store</p>
          </div>
        </ion-button>
      </div>
    </div>
  </div>

  <hr class="mt-5 mb-3" />

  <div class="d-flex justify-content-between">
    <p class="footer-rights">Copyright &copy; 2023. Aussie Tasker</p>

    <div class="d-flex">
      <p class="footer-rights">Privacy Policy</p>
      <p class="footer-rights">Terms & Conditions</p>
      <p class="footer-rights">Security</p>
    </div>
  </div>
</div>
