<ion-header class="ion-no-border" >
  <ion-toolbar>
    <div class="d-flex justify-content-between align-items-center mx-2">
      <ion-buttons slot="start">
        <ion-menu-button>
          <button class="menu-bar">
          </button>
        </ion-menu-button>
      </ion-buttons>

      <div class="right d-flex align-items-start">
        <button class="menu-noty me-2">
          <ion-icon name="notifications"></ion-icon>
        </button>
        <ion-avatar>
          <img src="../../../assets/images/user.png" alt="">
        </ion-avatar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

