:host,
ion-toolbar {
    --background  : transparent !important;
    --border-width: 0 !important;

    ion-avatar {
        width : 35px !important;
        height: 35px !important;
    }
}

ion-menu-button{
    display: block;
}



@media only screen and (min-width:992px) {
    ion-menu-button{
        display: none;
    }
}
