<ion-content class="changePass" [fullscreen]="true">
  <ion-grid class="h-100">
    <ion-row class="h-100">
      <ion-col sizeLg="6" sizeMd="0" class="left-banner">
        <div>
          <h1>Welcome</h1>
          <h3>Aussie Tasker App</h3>
        </div>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="12" size="12">
        <div class="login-grid">
          <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="4" sizeSm="3" sizeMd="2" sizeLg="3">
                <div class="avatar"></div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="8">
                <h1 class="login_header ion-text-center">Change Password</h1>
                <p class="login_subHeader ion-text-center">
                  Create a new password & manage
                </p>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-justify-content-center ion-margin-top login_form"
            >
              <ion-col size="10">
                <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                  <ion-item>
                    <ion-label class="form_label">
                      <img
                        src="assets/images/login/password-icon.png"
                        alt=""
                        class="form_icon"
                      />
                    </ion-label>
                    <ion-input
                      type="password"
                      formControlName="password"
                      placeholder="New Password"
                      class="form_input"
                    ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label class="form_label">
                      <img
                        src="assets/images/login/password-icon.png"
                        alt=""
                        class="form_icon"
                      />
                    </ion-label>
                    <ion-input
                      type="password"
                      formControlName="confirmPassword"
                      placeholder="Re-enter New Password"
                      class="form_input"
                    ></ion-input>
                  </ion-item>

                  <button type="submit" class="btn-black ion-margin-top">
                    SUBMIT
                  </button>
                </form>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal id="verified-modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper h-100 d-flex ion-align-items-center">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="10">
            <h1 class="model_header">Updated Successfully!</h1>
            <p class="model_content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
            <button class="btn-black ion-margin-top" (click)="logIn()">
              GOT IT!
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-modal>
