<div class="task-card" routerLink="/browseTasks">
  <div class="row justify-content-between">
    <div class="col-1 p-0"><div class="label-red"></div></div>
    <div class="col-8 p-0 mt-2">
      <p class="task-header">
        Need a wordpress website for my construction company wants to make
        immediatly.
      </p>
    </div>
    <div class="col-3">
      <div class="task-pic">
        <img src="assets/images/user.png" alt="" width="100%" />
      </div>
    </div>
  </div>
  <div class="task-amount red">$250</div>
  <div class="d-flex px-2 mt-1 justify-content-between">
    <div class="chip">
      <img alt="Location" src="assets/images/calander.png" />
      <p>Remote</p>
    </div>
    <div class="chip">
      <img alt="Location" src="assets/images/calander.png" />
      <p>Sat, Nov 18</p>
    </div>
    <div class="chip">
      <img alt="Location" src="assets/images/calander.png" />
      <p>Anytime</p>
    </div>
  </div>
  <p class="red w-100 text-end px-3 py-1 m-0 font-12">5 offers</p>
</div>
