<ion-content style="height: 100vh" [fullscreen]="true">
  <div class="startup">
    <ion-grid class="h-100">
      <ion-row class="h-100 ion-justify-content-center">
        <ion-col sizeLg="8" sizeMd="12">
          <ion-row class="ion-justify-content-end">
            <p class="skip ion-margin-end m-0" routerLink="/signup">Skip</p>
          </ion-row>
          <swiper
            #swiper
            [initialSlide]="slideIndex"
            [pagination]="{clickable: true}"
            (activeIndexChange)="onSwiper()"
          >
            <ng-template swiperSlide>
              <div class="slide-item">
                <ion-img
                  class="slide-img mt-2"
                  src="assets/images/startup/1.png"
                  alt="Create Profile"
                ></ion-img>
                <h1 class="slide-header mt-5">Create Profile</h1>
                <p class="slide-content mt-2 text-center">
                  Sign up and start posting your requirements
                </p>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-item">
                <ion-img
                  class="slide-img mt-2"
                  src="assets/images/startup/2.png"
                  alt="Create Profile"
                ></ion-img>
                <h1 class="slide-header mt-5">Become a Tasker</h1>
                <p class="slide-content mt-2 text-center">
                  Submit your liceneces and become a skilled tasker
                </p>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="slide-item">
                <ion-img
                  class="slide-img mt-2"
                  src="assets/images/startup/3.png"
                  alt="Create Profile"
                ></ion-img>
                <h1 class="slide-header mt-5"></h1>
                <h1 class="slide-header mt-5">Get Works Done!</h1>
                <p class="slide-content mt-2 text-center">
                  Hire a professional and complete your tasks.
                </p>
              </div>
            </ng-template>
          </swiper>
        </ion-col>
      </ion-row>

      <div class="d-flex justify-content-end">
        <button
          class="next-item ion-margin-end"
          (click)="slideNext()"
          *ngIf="slideIndex !== 2"
        >
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
        <button
          class="next-item ion-margin-end"
          *ngIf="slideIndex === 2"
          (click)="slideFinish()"
        >
          <ion-icon name="checkmark-outline"></ion-icon>
        </button>
      </div>
    </ion-grid>
  </div>
</ion-content>
