@import "/node_modules/swiper/modules/pagination/pagination.scss";

.startup {
  height: 100vh;
  overflow: hidden;

  .skip {
    font-size: 12px;
    background: transparent;
    text-decoration: none;
    text-align: end;
    cursor: pointer;
    color: var(--grey);
    font-family: "Poppins-semibold";
    &:hover {
      text-decoration: none;
    }
  }

  .swiper {
    height: 90vh;
  }

  .slide-item {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .slide-img {
      width: 45vh;
      aspect-ratio: 1/1;
    }

    .slide-header {
      color: var(--green);
      font-family: "Poppins-bold";
      font-size: 26px;
      padding: 0 16%;
    }

    .slide-content {
      font-size: 12px;
      color: var(--grey);
      padding: 0px 15%;
    }
  }

  .next-item {
    background: var(--green);
    color: var(--yellow);
    width: 45px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 3vh;
    font-size: 30px;
    border-radius: 50%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      --ionicon-stroke-width: 60px !important;
    }
  }

  .swiper-pagination-bullets {
    text-align: left !important;
    margin-left: 5%;
  }

  .swiper-pagination-bullet {
    background: var(--green);
    margin: 2px !important;
  }


}

// @media only screen and (max-width: 992px) {
//   .left-banner {
//     display: none !important;
//   }
// }

// @media only screen and (min-width: 992px) {
//   .left-banner {
//     display: flex !important;
//     align-items: center;
//     justify-content: center;
//     align-content: center;
//     height: 100%;
//     background: #d3ffe8;
//     flex-direction: column;
//   }
// }

@media only screen and (max-height: 680px) {
  .next-item {
    bottom: 5% !important;
  }
}

@media only screen and (max-height: 850px) {
  .next-item {
    bottom: 6% !important;
  }
}

@media only screen and (min-height: 850px) {
  .next-item {
    bottom: 7% !important;
  }
}
