:host {
  height: 100vh;
}

.login {
  .login-grid {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .avatar {
    background: var(--green);
    background-image: url("../../../assets/images/login/Logo-aussie-tasker.png");
    background-size: contain;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0% 5%;
  }

  .login_header {
    font-size: 24px;
    font-weight: 900;
    font-family: "Poppins-bold";
    margin-top: 5%;
  }

  .login_subHeader {
    font-size: 14px;
    margin: 0;
    color: var(--grey);
  }

  .login_form {
    .form_label {
      width: 24px;
      margin-right: 2%;
      margin-bottom: 0 !important;
    }

    .form_input {
      font-size: 12px !important;

      .native-input {
        padding-bottom: 0 !important;
      }
    }

    .form_icon {
      font-size: 23px;
      color: var(--grey);
    }

    .form_forgot {
      margin: 5px 0;
      cursor: pointer;
      a {
        color: var(--green);
        font-family: "Poppins-semibold";
        font-size: 14px;
      }
    }

    .form_login_width {
      font-size: 12px;
      color: var(--grey);
    }

    .login_facebook,
    .login_google {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0px 0px 7px 0px #8d8d8d6e;
      padding: 10px;
      width: 97%;
      display: inline-flex;
      align-items: center;
      font-weight: 900;
      justify-content: space-evenly;
      font-size: 14px;

      ion-icon {
        font-size: 25px;
      }
    }

    .social-icon {
      width: 20px;
    }

    .login_facebook {
      color: #2196f3;
    }

    .login_google {
      color: #e3665c;
    }
  }

  .login_agree {
    font-size: 12px;
    color: var(--grey);
    span {
      color: var(--green);
      cursor: pointer;
    }
  }

  .login_signUp {
    font-size: 14px;
    a {
      color: var(--green);
      cursor: pointer;
      text-decoration: none;
      font-family: var(--font-bold);
    }
  }
}
