<div class="reivew">
  <div class="trans-bg">
    <div class="row justify-content-end">
      <button class="col-2 close-modal" (click)="cancel()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
    </div>
    <div class="content p-3 mt-2">
      <div class="row align-items-center justify-content-center">
        <div class="col-3 m-0">
          <div class="review-pic">
            <fa-icon class="review-icon" [icon]="reviewIcon"></fa-icon>
          </div>
        </div>
        <div class="col-8 p-0">
          <h1 class="header">My Skills</h1>
        </div>
        <div class="col-11 mb-3">
          <ion-list>
            <ion-item>
              <ion-select
                interface="action-sheet"
                value="mostrecent"
                placeholder="Select fruit"
              >
                <ion-select-option value="mostrecent"
                  >Most Recent</ion-select-option
                >
                <ion-select-option value="early"
                  >Due Date: Early</ion-select-option
                >
                <ion-select-option value="latest"
                  >Due Date: Latest</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-2">
          <img
            class="reviewer-pic"
            src="https://picsum.photos/id/100/100/100"
            alt=""
          />
        </div>
        <div class="col-10">
          <p class="review-title">
            WordPress has been Redirected to another website
          </p>
          <p class="review-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            corporis eligendi qui quaerat, nesciunt, fuga sunt laudantium iste
            illo maxime asperiores! Dolore necessitatibus repellendus aliquid.
          </p>
          <p class="review-quote">
            - Alex S
            <span>2 days ago</span>
          </p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-2">
          <img
            class="reviewer-pic"
            src="https://picsum.photos/id/101/100/100"
            alt=""
          />
        </div>
        <div class="col-10">
          <p class="review-title">
            WordPress has been Redirected to another website
          </p>
          <p class="review-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            corporis eligendi qui quaerat, nesciunt, fuga sunt laudantium iste
            illo maxime asperiores! Dolore necessitatibus repellendus aliquid.
          </p>
          <p class="review-quote">
            - Alex S
            <span>2 days ago</span>
          </p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-2">
          <img
            class="reviewer-pic"
            src="https://picsum.photos/id/102/100/100"
            alt=""
          />
        </div>
        <div class="col-10">
          <p class="review-title">
            WordPress has been Redirected to another website
          </p>
          <p class="review-para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            corporis eligendi qui quaerat, nesciunt, fuga sunt laudantium iste
            illo maxime asperiores! Dolore necessitatibus repellendus aliquid.
          </p>
          <p class="review-quote">
            - Alex S
            <span>2 days ago</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
