<div class="side-menu">
  <ion-menu side="start" contentId="main-content" #menu>
    <ng-container *ngTemplateOutlet="menutemplate"></ng-container>
  </ion-menu>
</div>

<div class="split_pane">
  <ng-container *ngTemplateOutlet="menutemplate"></ng-container>
</div>

<ng-template #menutemplate>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button fill="clear" class="menu-back">
        <img src="assets/images/back.png" alt="" />
      </ion-button>
    </ion-menu-toggle>

    <div class="menu-content px-3 mt-4">
      <div>
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <h3 class="menu-header">Settings</h3>
            <p class="menu-subHeader">Keep everything on track</p>
          </div>
          <ion-button
            fill="outline"
            shape="round"
            color="medium"
            class="logout onWeb"
            (click)="logOut()"
          >
            Log Out
          </ion-button>
        </div>
        <ion-list [inset]="true" class="m-0 mt-2">
          <ion-item
            lines="full"
            button
            detail="true"
            class="mb-2"
            (click)="openProfile()"
            *ngIf="!isWeb"
          >
            <ion-thumbnail slot="start">
              <img
                alt="Silhouette of a person's head"
                src="assets/images/account.png"
              />
            </ion-thumbnail>
            <ion-label> Account </ion-label>
          </ion-item>

          <ion-item
            lines="full"
            button
            detail="true"
            class="mb-2"
            (click)="openNotification()"
          >
            <ion-thumbnail slot="start">
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-thumbnail>
            <ion-label> Notifications </ion-label>
          </ion-item>

          <ion-item
            lines="full"
            button
            detail="true"
            class="mb-2"
            (click)="openPaymentHistory()"
          >
            <ion-thumbnail slot="start">
              <ion-icon name="card-outline"></ion-icon>
            </ion-thumbnail>
            <ion-label> Payment History </ion-label>
          </ion-item>

          <ion-item
            lines="full"
            button
            detail="true"
            class="mb-2"
            (click)="openFAQ()"
          >
            <ion-thumbnail slot="start">
              <img
                alt="Silhouette of a person's head"
                src="assets/images/faq.png"
              />
            </ion-thumbnail>
            <ion-label> FAQ </ion-label>
          </ion-item>

          <ion-item lines="full" button detail="true" class="mb-2">
            <ion-thumbnail slot="start">
              <img
                alt="Silhouette of a person's head"
                src="assets/images/contact.png"
              />
            </ion-thumbnail>
            <ion-label> Contact </ion-label>
          </ion-item>

          <ion-item
            lines="full"
            button
            detail="true"
            class="mb-2"
            (click)="openSocial()"
          >
            <ion-thumbnail slot="start">
              <ion-icon name="share-social-outline"></ion-icon>
            </ion-thumbnail>
            <ion-label> Share </ion-label>
          </ion-item>

          <ion-item
            lines="full"
            button
            detail="true"
            class="mb-2"
            (click)="openAbout()"
          >
            <ion-thumbnail slot="start">
              <img
                alt="Silhouette of a person's head"
                src="assets/images/about.png"
              />
            </ion-thumbnail>
            <ion-label> About</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div class="d-flex align-items-center justify-content-between pb-4">
        <ion-button
          fill="outline"
          shape="round"
          color="medium"
          class="logout onMobile"
          (click)="logOut()"
        >
          Log Out
        </ion-button>
        <p class="version m-0 onMobile">V 1.0.0</p>
      </div>
    </div>
  </ion-content>
</ng-template>
