<ion-content >
  <div class="home px-4">
    <div class="row justify-content-center mt-3">
      <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1">
        <div class="avatar"></div>
      </div>
    </div>
    <h1 class="user-name mt-4">
      Welcome Vicky
    </h1>
    <p class="user-disc">List of tasks posted by users</p>

    <div class="search mt-4">
      <input type="text" class="search_input" placeholder="Search">
      <button type="button" class="search_btn"><ion-icon name="search-outline"></ion-icon></button>
    </div>

    <div class="category mt-3 row justify-content-center">
      <div class="cat-item col-3 p-0 mx-2">
        <div class="cat-img m-2">
          <img src="../../../assets/images/repair.png" alt="Repair Services">
        </div>
        <p class="cat-txt">
          Repair Services
        </p>
      </div>

      <div class="cat-item col-3 p-0 mx-2">
        <div class="cat-img m-2">
          <img src="../../../assets/images/professioal.png" alt="Professional Works">
        </div>
        <p class="cat-txt">
          Professional Works
        </p>
      </div>

      <div class="cat-item col-3 p-0 mx-2">
        <div class="cat-img m-2">
          <img src="../../../assets/images/gardening.png" alt="Gardening">
        </div>
        <p class="cat-txt">
          Gardening
        </p>
      </div>

      <div class="cat-item col-3 p-0 mx-2">
        <div class="cat-img m-2">
          <img src="../../../assets/images/business.png" alt="Business Works">
        </div>
        <p class="cat-txt">
          Business Works
        </p>
      </div>

      <div class="cat-item col-3 p-0 mx-2">
        <div class="cat-img m-2">
          <img src="../../../assets/images/delivery.png" alt="Deliveries">
        </div>
        <p class="cat-txt">
          Deliveries
        </p>
      </div>

      <div class="cat-item col-3 p-0 mx-2">
        <div class="cat-img m-2">
          <img src="../../../assets/images/marketing.png" alt="Marketing & Design">
        </div>
        <p class="cat-txt">
          Marketing & Design
        </p>
      </div>
    </div>

    <button class="post-Task mt-3">
      Post a Task for Free
    </button>
    <button class="earn-task mt-3">
      Earn as a Tasker
    </button>
  </div>
</ion-content>
