.make-an-offer {
  height      : 100vh;
  background  : #00000090;
  --box-shadow: none;

  .offer-avatar {
    background     : var(--green);
    color          : var(--yellow);
    aspect-ratio   : 1/1;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 30px;
    border-radius  : 50%;
  }

  .header {
    font-size: 24px !important;
  }

  .subHeader {
    font-size: 14px !important;
  }

  .storyBox {
    // border-bottom: 1px solid #737373;
    margin-bottom: 25px;
  }


  ion-label {
    font-family: var(--font-semi);
  }

  .makeOffer {
    border         : 2px solid #6DB411;
    border-radius  : 15px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-top     : 20px;
    padding        : 20px;

    .budget {
      width: 50%;

      p {
        color : #707070;
        margin: 0;
      }

      p.amount {
        font-size  : 24px;
        font-family: var(--font-semi);
        color      : #000;
      }
    }
  }
}


@media only screen and (min-width: 992px) {
  .make-an-offer {
    background   : #ffffff !important;
    border-radius: 10px;

    .trans-bg {}

    .content {
      border-radius             : 0px !important;
      border-bottom-left-radius : 10px !important;
      border-bottom-right-radius: 10px !important;
    }
  }
}
