/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Swiper.Js */
@import "/node_modules/swiper/swiper.scss";
@import "~@ionic/angular/css/ionic-swiper.css";

/*Bootstrap*/
@import "/node_modules/bootstrap/scss/bootstrap.scss";

/* Font Poppins */
@font-face {
  font-family: "Poppins-regular";
  src: local("Poppins-regular"),
    url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins-bold"),
    url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-semibold";
  src: local("Poppins-semibold"),
    url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-italic";
  src: local("Poppins-italic"),
    url(./assets/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
}

body {
  --ion-font-family: "Poppins-regular", sans-serif;
  background-color: white;
}

.font-semi {
  font-family: "Poppins-semibold";
}

.btn-black {
  width: 100%;
  padding: 8px 0;
  background: #000;
  color: #fff;
  border-radius: 15px;
  letter-spacing: 5px;
}

ion-toast.success-toast {
  --background: #000;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.252);
  --border-radious: 8px;
  .toast-wrapper {
    --color: var(--ion-color-success);
    background: #000 !important;
    color: var(--ion-color-success) !important;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .toast-message {
    white-space: break-spaces !important;
    font-family: var(--font-semi) !important;
  }
}

ion-toast.success-toast::part(message) {
  --font-family: var(--font-semi);
  --white-space: break-spaces;
  color: var(--ion-color-success) !important;
}

ion-toast.success-toast::part(button) {
  color: var(--ion-color-success) !important;
}

ion-toast.danger-toast {
  --background: #000;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.252);
  --border-radious: 8px;
  .toast-wrapper {
    --color: var(--ion-color-danger);
    background: #000 !important;
    color: var(--ion-color-danger) !important;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .toast-message {
    white-space: break-spaces !important;
    font-family: var(--font-semi) !important;
  }
}

ion-toast.danger-toast::part(message) {
  --font-family: var(--font-semi);
  --white-space: break-spaces;
  color: var(--ion-color-danger) !important;
}

ion-toast.danger-toast::part(button) {
  // --color: #fff;
  color: var(--ion-color-danger) !important;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

.left-banner {
  display: flex !important;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  background: #d3ffe8;
  flex-direction: column;
  div{
    display: block;
  }
}

.avatar {
  background: var(--green);
  background-image: url("./assets/images/login/Logo-aussie-tasker.png");
  background-size: contain;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0% 5%;
}

@media only screen and (max-width: 992px) {
  .left-banner {
    display: none !important;
    div{
      display: none;
    }
  }
}
